<form>
  <h2 class="text-center" style="color: rgb(5, 114, 121); font-family: Arial, sans-serif;">Sign in, please!</h2>
  <div class="mb-3">
    <label for="email" class="form-label" style="color: rgb(5, 114, 121);">Email address</label>
    <input name="email" required type="email" class="form-control" id="email" style="border-color: rgb(5, 114, 121);">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label" style="color: rgb(5, 114, 121);">Password</label>
    <input name="password" type="password" required minlength="6" class="form-control" id="password" style="border-color: rgb(5, 114, 121);">
  </div>
  <button type="submit" class="btn btn-outline-primary" style="background-color: rgb(5, 114, 121); color: white;">Submit</button>
</form>
