<form>
  <h2 class="text-center" style="color: green; font-family: Arial, sans-serif;">Sign in, please!</h2>
  <div class="mb-3">
    <label for="email" class="form-label" style="color: green;">Email address</label>
    <input name="email" required type="email" class="form-control" id="email" style="border-color: green;">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label" style="color: green;">Password</label>
    <input name="password" type="password" required minlength="6" class="form-control" id="password" style="border-color: green;">
  </div>
  <button type="submit" class="btn btn-outline-primary" style="background-color: green; color: white;">Submit</button>
</form>
